<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${pageTitle}">Vehicle Leasing Database</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="icon" type="image/png" sizes="96x96" href="../../favicon.png"/>
		<link rel="stylesheet" href="../../stylesheet.css"/>
	</head>
	<body>
		<a id="back" title="Back" onclick="history.back()"></a>
		<a id="account" th:if="${accountId != null}" th:href="@{/api/accounts/{id}(id=${accountId})}" title="Account"></a>
		<a id="signOut" th:if="${accountId != null}" href="/sign-out" title="Sign out"></a>
		<h1 th:text="${pageTitle}">Vehicle Leasing Database</h1>
		<div class="content padding">
			<form th:action="@{/edit/customer}" method="post" th:object="${customer}">
				<input type="hidden" th:field="*{id}" required>
				<div><b>First Name:</b><input type="text" size="32" minlength="1" maxlength="32" th:field="*{firstName}" required autofocus></div>
				<div><b>Last Name:</b><input type="text" size="32" minlength="1" maxlength="32" th:field="*{lastName}" required></div>
				<div><b>Birth Date:</b><input type="date" th:max="${birthDateMax}" th:field="*{birthDate}" required></div>
				<div><b>Email:</b><input type="email" size="32" minlength="6" maxlength="320" th:field="*{emailAddress}" required></div>
				<div><b>Phone:</b><select th:field="*{phoneNumber.countryCode}" required>
					<option th:value="1">United States (+1)</option>
					<option th:value="48">Poland (+48)</option>
					<option th:value="48">Germany (+49)</option>
					<option th:value="420">Czechia (+420)</option>
					<option th:value="421">Slovakia (+421)</option>
				</select><input type="tel" size="12" minlength="4" maxlength="12" pattern="[0-9]{4,12}" th:field="*{phoneNumber.subscriberNumber}" required></div>
				<div><input type="submit" th:value="${formButtonValue}"></div>
			</form>
		</div>
	</body>
</html>