body {
	font: 16px Helvetica, Arial, sans-serif;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

#header {
	font-weight: normal;
	font-size: 24px;
	padding: 16px 24px;
}

#fieldset {
	border: 1px solid #CCC;
	margin: 0px 24px;
}

#fieldset > form {
	padding: 8px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 8px;
}

#fieldset > form > input[type="checkbox"] {
	justify-self: left;
}

#fieldset > form > input[type="submit"] {
	grid-column: 1 / 3;
}

#warning {
	color: #F00;
	font-weight: bold;
	font-size: 12px;
	padding: 16px 24px;
	margin: 0px;
}

#iframe_title {
	font-weight: normal;
	font-size: 20px;
	border-top: 1px solid #DDD;
	padding: 16px 24px;
}

#iframe {
	border: 1px solid #CCC;
	margin: 0px 24px;
}

#iframe > iframe {
	border: 0px;
	width: 100%;
	height: 240px;
	margin: 0px;
	vertical-align: bottom;
}

#footer {
	font-weight: normal;
	font-size: 12px;
	padding: 16px 24px;
}